################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/.vs
/samples/bin
/samples/obj
/samples/.obj
